.container {
  display: grid;
  grid: 0.5fr 4fr 1fr / 1fr 2fr;
  justify-items: center;
}

.header,
.footer {
  grid-column: span 2;
  text-align: center;
  width: 100%;
}

.header h1 {
  background: linear-gradient(180deg, #ffff00, #ffbb22);
  background-clip: text;
  color: transparent;
  filter: drop-shadow(1px 2px 0 rgba(0, 0, 0, 0.45));
}

.header-red {
  background: linear-gradient(rgb(222, 22, 22), rgb(111, 11, 11));
}

.header-green {
  background: linear-gradient(rgb(22, 222, 22), rgb(11, 111, 11));
}

.header-blue {
  background: linear-gradient(rgb(22, 22, 222), rgb(11, 11, 111));
}
